resources/wsdl/BlogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jivesoftware.com/clearspace/webservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogService" targetNamespace="http://jivesoftware.com/clearspace/webservices">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns:tns="http://jivesoftware.com/clearspace/webservices">
<xs:complexType name="Blog">
<xs:complexContent>
<xs:extension base="tns:JiveObject">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="allBlogPostIDs" nillable="true" type="xs:long"/>
<xs:element name="blogPostCount" type="xs:int"/>
<xs:element name="commentAuthenticationStrategy" type="xs:int"/>
<xs:element name="commentCount" type="xs:int"/>
<xs:element name="commentModerationEnabled" type="xs:boolean"/>
<xs:element name="commentNotificationEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="displayName" type="xs:string"/>
<xs:element name="feedEnabled" type="xs:boolean"/>
<xs:element name="feedFullContent" type="xs:boolean"/>
<xs:element name="firstPostID" type="xs:long"/>
<xs:element name="lastPostID" type="xs:long"/>
<xs:element minOccurs="0" name="modificationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="overridePing" type="xs:boolean"/>
<xs:element minOccurs="0" name="pingServices" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="popularTags" nillable="true" type="tns:TagCount"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="tns:Property"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="recentBlogPostIDs" nillable="true" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="recentCommentIDs" nillable="true" type="xs:long"/>
<xs:element name="systemBlog" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="tns:TagCount"/>
<xs:element name="trackbackCount" type="xs:int"/>
<xs:element name="trackbackModerationEnabled" type="xs:boolean"/>
<xs:element name="trackbackNotificationEnabled" type="xs:boolean"/>
<xs:element name="userBlog" type="xs:boolean"/>
<xs:element name="userCount" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userIDs" nillable="true" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="JiveObject">
<xs:sequence>
<xs:element name="ID" type="xs:long"/>
<xs:element name="objectType" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TagCount">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="uses" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Property">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BlogPost">
<xs:complexContent>
<xs:extension base="tns:JiveObject">
<xs:sequence>
<xs:element name="attachmentCount" type="xs:int"/>
<xs:element name="blogID" type="xs:long"/>
<xs:element minOccurs="0" name="body" type="xs:string"/>
<xs:element name="commentCount" type="xs:int"/>
<xs:element name="commentStatus" type="xs:int"/>
<xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
<xs:element name="imageCount" type="xs:int"/>
<xs:element minOccurs="0" name="modificationDate" type="xs:dateTime"/>
<xs:element name="nextPostID" type="xs:long"/>
<xs:element minOccurs="0" name="permalink" type="xs:string"/>
<xs:element minOccurs="0" name="plainBody" type="xs:string"/>
<xs:element minOccurs="0" name="plainSubject" type="xs:string"/>
<xs:element name="previousPostID" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="tns:Property"/>
<xs:element minOccurs="0" name="publishDate" type="xs:dateTime"/>
<xs:element name="status" type="xs:int"/>
<xs:element minOccurs="0" name="subject" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="xs:string"/>
<xs:element name="trackbacksEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="unfilteredSubject" type="xs:string"/>
<xs:element minOccurs="0" name="user" type="tns:User"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="User">
<xs:sequence>
<xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element name="emailVisible" type="xs:boolean"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="ID" type="xs:long"/>
<xs:element minOccurs="0" name="modificationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="nameVisible" type="xs:boolean"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Comment">
<xs:sequence>
<xs:element name="anonymous" type="xs:boolean"/>
<xs:element minOccurs="0" name="body" type="xs:string"/>
<xs:element name="commentObjectID" type="xs:long"/>
<xs:element name="commentObjectType" type="xs:int"/>
<xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element name="ID" type="xs:long"/>
<xs:element minOccurs="0" name="IPAddress" type="xs:string"/>
<xs:element name="moderated" type="xs:boolean"/>
<xs:element minOccurs="0" name="modificationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="objectType" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="tns:Property"/>
<xs:element minOccurs="0" name="URL" type="xs:string"/>
<xs:element minOccurs="0" name="user" type="tns:User"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Attachment">
<xs:sequence>
<xs:element minOccurs="0" name="contentType" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BlogTagResultFilter">
<xs:complexContent>
<xs:extension base="tns:TagResultFilter">
<xs:sequence>
<xs:element minOccurs="0" name="publishDateRangeMax" type="xs:dateTime"/>
<xs:element minOccurs="0" name="publishDateRangeMin" type="xs:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TagResultFilter">
<xs:complexContent>
<xs:extension base="tns:ResultFilter">
<xs:sequence>
<xs:element name="minimum" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResultFilter">
<xs:sequence>
<xs:element minOccurs="0" name="creationDateRangeMax" type="xs:dateTime"/>
<xs:element minOccurs="0" name="creationDateRangeMin" type="xs:dateTime"/>
<xs:element minOccurs="0" name="moderationRangeMax" type="xs:int"/>
<xs:element minOccurs="0" name="moderationRangeMin" type="xs:int"/>
<xs:element minOccurs="0" name="modificationDateRangeMax" type="xs:dateTime"/>
<xs:element minOccurs="0" name="modificationDateRangeMin" type="xs:dateTime"/>
<xs:element minOccurs="0" name="numResults" type="xs:int"/>
<xs:element name="recursive" type="xs:boolean"/>
<xs:element minOccurs="0" name="resolutionDateRangeMin" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="resolutionStates" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resolutionnDateRangeMax" type="xs:int"/>
<xs:element name="sortField" type="xs:int"/>
<xs:element name="sortOrder" type="xs:int"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Image">
<xs:sequence>
<xs:element minOccurs="0" name="contentType" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BlogPostResultFilter">
<xs:complexContent>
<xs:extension base="tns:ResultFilter">
<xs:sequence>
<xs:element minOccurs="0" name="blogID" type="xs:long"/>
<xs:element name="onlyPublished" type="xs:boolean"/>
<xs:element minOccurs="0" name="publishDateRangeMax" type="xs:dateTime"/>
<xs:element minOccurs="0" name="publishDateRangeMin" type="xs:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="FeedbackResultFilter">
<xs:complexContent>
<xs:extension base="tns:ResultFilter">
<xs:sequence>
<xs:element name="includeModerated" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BlogResultFilter">
<xs:complexContent>
<xs:extension base="tns:ResultFilter">
<xs:sequence>
<xs:element name="onlyCommunity" type="xs:boolean"/>
<xs:element name="onlyPersonal" type="xs:boolean"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType final="#all" name="PropertyArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:Property"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="TagCountArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:TagCount"/>
</xs:sequence>
</xs:complexType>
<xs:element name="UserNotFound" type="tns:UserNotFound"/>
<xs:complexType name="UserNotFound">
<xs:sequence>
<xs:element name="username" nillable="true" type="xs:string"/>
<xs:element name="userID" nillable="true" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="BlogPostNotFoundException" type="tns:BlogPostNotFoundException"/>
<xs:complexType name="BlogPostNotFoundException">
<xs:sequence/>
</xs:complexType>
<xs:element name="BlogNotFoundException" type="tns:BlogNotFoundException"/>
<xs:complexType name="BlogNotFoundException">
<xs:sequence/>
</xs:complexType>
<xs:element name="RejectedException" type="tns:RejectedException"/>
<xs:complexType name="RejectedException">
<xs:sequence/>
</xs:complexType>
<xs:element name="IOException" type="tns:IOException"/>
<xs:complexType name="IOException">
<xs:sequence/>
</xs:complexType>
<xs:element name="AttachmentException" type="tns:AttachmentException"/>
<xs:complexType name="AttachmentException">
<xs:sequence/>
</xs:complexType>
<xs:element name="ImageException" type="tns:ImageException"/>
<xs:complexType name="ImageException">
<xs:sequence/>
</xs:complexType>
<xs:element name="isPingsEnabled" type="tns:isPingsEnabled"/>
<xs:complexType name="isPingsEnabled">
<xs:sequence/>
</xs:complexType>
<xs:element name="isPingsEnabledResponse" type="tns:isPingsEnabledResponse"/>
<xs:complexType name="isPingsEnabledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getCommentCount" type="tns:getCommentCount"/>
<xs:complexType name="getCommentCount">
<xs:sequence/>
</xs:complexType>
<xs:element name="getCommentCountResponse" type="tns:getCommentCountResponse"/>
<xs:complexType name="getCommentCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getTagsWithFilter" type="tns:getTagsWithFilter"/>
<xs:complexType name="getTagsWithFilter">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:BlogTagResultFilter"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getTagsWithFilterResponse" type="tns:getTagsWithFilterResponse"/>
<xs:complexType name="getTagsWithFilterResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:TagCount"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setBlogsEnabled" type="tns:setBlogsEnabled"/>
<xs:complexType name="setBlogsEnabled">
<xs:sequence>
<xs:element name="blogsEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setBlogsEnabledResponse" type="tns:setBlogsEnabledResponse"/>
<xs:complexType name="setBlogsEnabledResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="isPingsOverrideEnabled" type="tns:isPingsOverrideEnabled"/>
<xs:complexType name="isPingsOverrideEnabled">
<xs:sequence/>
</xs:complexType>
<xs:element name="isPingsOverrideEnabledResponse" type="tns:isPingsOverrideEnabledResponse"/>
<xs:complexType name="isPingsOverrideEnabledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogsForUser" type="tns:getBlogsForUser"/>
<xs:complexType name="getBlogsForUser">
<xs:sequence>
<xs:element name="userID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogsForUserResponse" type="tns:getBlogsForUserResponse"/>
<xs:complexType name="getBlogsForUserResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getCommentCountWithFilter" type="tns:getCommentCountWithFilter"/>
<xs:complexType name="getCommentCountWithFilter">
<xs:sequence>
<xs:element minOccurs="0" name="filter" type="tns:FeedbackResultFilter"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getCommentCountWithFilterResponse" type="tns:getCommentCountWithFilterResponse"/>
<xs:complexType name="getCommentCountWithFilterResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setTrackbacksEnabled" type="tns:setTrackbacksEnabled"/>
<xs:complexType name="setTrackbacksEnabled">
<xs:sequence>
<xs:element name="trackbacksEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setTrackbacksEnabledResponse" type="tns:setTrackbacksEnabledResponse"/>
<xs:complexType name="setTrackbacksEnabledResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="getImagesByBlogPostID" type="tns:getImagesByBlogPostID"/>
<xs:complexType name="getImagesByBlogPostID">
<xs:sequence>
<xs:element name="blogPostID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getImagesByBlogPostIDResponse" type="tns:getImagesByBlogPostIDResponse"/>
<xs:complexType name="getImagesByBlogPostIDResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Image"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogsByDisplayName" type="tns:getBlogsByDisplayName"/>
<xs:complexType name="getBlogsByDisplayName">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="xs:string"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="endIndex" type="xs:int"/>
<xs:element name="numResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogsByDisplayNameResponse" type="tns:getBlogsByDisplayNameResponse"/>
<xs:complexType name="getBlogsByDisplayNameResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogPostCountWithFilter" type="tns:getBlogPostCountWithFilter"/>
<xs:complexType name="getBlogPostCountWithFilter">
<xs:sequence>
<xs:element minOccurs="0" name="filter" type="tns:BlogPostResultFilter"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogPostCountWithFilterResponse" type="tns:getBlogPostCountWithFilterResponse"/>
<xs:complexType name="getBlogPostCountWithFilterResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getPingServices" type="tns:getPingServices"/>
<xs:complexType name="getPingServices">
<xs:sequence/>
</xs:complexType>
<xs:element name="getPingServicesResponse" type="tns:getPingServicesResponse"/>
<xs:complexType name="getPingServicesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogByName" type="tns:getBlogByName"/>
<xs:complexType name="getBlogByName">
<xs:sequence>
<xs:element minOccurs="0" name="blogName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogByNameResponse" type="tns:getBlogByNameResponse"/>
<xs:complexType name="getBlogByNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogCountWithFilter" type="tns:getBlogCountWithFilter"/>
<xs:complexType name="getBlogCountWithFilter">
<xs:sequence>
<xs:element minOccurs="0" name="filter" type="tns:BlogResultFilter"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogCountWithFilterResponse" type="tns:getBlogCountWithFilterResponse"/>
<xs:complexType name="getBlogCountWithFilterResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="userHasBlogs" type="tns:userHasBlogs"/>
<xs:complexType name="userHasBlogs">
<xs:sequence>
<xs:element name="userID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="userHasBlogsResponse" type="tns:userHasBlogsResponse"/>
<xs:complexType name="userHasBlogsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="isBlogsEnabled" type="tns:isBlogsEnabled"/>
<xs:complexType name="isBlogsEnabled">
<xs:sequence/>
</xs:complexType>
<xs:element name="isBlogsEnabledResponse" type="tns:isBlogsEnabledResponse"/>
<xs:complexType name="isBlogsEnabledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setPingsOverrideEnabled" type="tns:setPingsOverrideEnabled"/>
<xs:complexType name="setPingsOverrideEnabled">
<xs:sequence>
<xs:element name="pingsOverrideEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setPingsOverrideEnabledResponse" type="tns:setPingsOverrideEnabledResponse"/>
<xs:complexType name="setPingsOverrideEnabledResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="setPingServices" type="tns:setPingServices"/>
<xs:complexType name="setPingServices">
<xs:sequence>
<xs:element minOccurs="0" name="services" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setPingServicesResponse" type="tns:setPingServicesResponse"/>
<xs:complexType name="setPingServicesResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="getBlog" type="tns:getBlog"/>
<xs:complexType name="getBlog">
<xs:sequence>
<xs:element name="blogID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogResponse" type="tns:getBlogResponse"/>
<xs:complexType name="getBlogResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="publishBlogPost" type="tns:publishBlogPost"/>
<xs:complexType name="publishBlogPost">
<xs:sequence>
<xs:element minOccurs="0" name="subject" type="xs:string"/>
<xs:element minOccurs="0" name="body" type="xs:string"/>
<xs:element name="blogID" type="xs:long"/>
<xs:element name="userID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="publishBlogPostResponse" type="tns:publishBlogPostResponse"/>
<xs:complexType name="publishBlogPostResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BlogPost"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getAttachmentsByBlogPostID" type="tns:getAttachmentsByBlogPostID"/>
<xs:complexType name="getAttachmentsByBlogPostID">
<xs:sequence>
<xs:element name="blogPostID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getAttachmentsByBlogPostIDResponse" type="tns:getAttachmentsByBlogPostIDResponse"/>
<xs:complexType name="getAttachmentsByBlogPostIDResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Attachment"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getTags" type="tns:getTags"/>
<xs:complexType name="getTags">
<xs:sequence/>
</xs:complexType>
<xs:element name="getTagsResponse" type="tns:getTagsResponse"/>
<xs:complexType name="getTagsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:TagCount"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogCountForUser" type="tns:getBlogCountForUser"/>
<xs:complexType name="getBlogCountForUser">
<xs:sequence>
<xs:element name="userID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogCountForUserResponse" type="tns:getBlogCountForUserResponse"/>
<xs:complexType name="getBlogCountForUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="createBlogPost" type="tns:createBlogPost"/>
<xs:complexType name="createBlogPost">
<xs:sequence>
<xs:element minOccurs="0" name="subject" type="xs:string"/>
<xs:element minOccurs="0" name="body" type="xs:string"/>
<xs:element name="blogID" type="xs:long"/>
<xs:element name="userID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="createBlogPostResponse" type="tns:createBlogPostResponse"/>
<xs:complexType name="createBlogPostResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BlogPost"/>
</xs:sequence>
</xs:complexType>
<xs:element name="updateBlogPost" type="tns:updateBlogPost"/>
<xs:complexType name="updateBlogPost">
<xs:sequence>
<xs:element minOccurs="0" name="blogPost" type="tns:BlogPost"/>
</xs:sequence>
</xs:complexType>
<xs:element name="updateBlogPostResponse" type="tns:updateBlogPostResponse"/>
<xs:complexType name="updateBlogPostResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="getBlogPostCount" type="tns:getBlogPostCount"/>
<xs:complexType name="getBlogPostCount">
<xs:sequence/>
</xs:complexType>
<xs:element name="getBlogPostCountResponse" type="tns:getBlogPostCountResponse"/>
<xs:complexType name="getBlogPostCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="isTrackbacksEnabled" type="tns:isTrackbacksEnabled"/>
<xs:complexType name="isTrackbacksEnabled">
<xs:sequence/>
</xs:complexType>
<xs:element name="isTrackbacksEnabledResponse" type="tns:isTrackbacksEnabledResponse"/>
<xs:complexType name="isTrackbacksEnabledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogPostsWithFilter" type="tns:getBlogPostsWithFilter"/>
<xs:complexType name="getBlogPostsWithFilter">
<xs:sequence>
<xs:element minOccurs="0" name="filter" type="tns:BlogPostResultFilter"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogPostsWithFilterResponse" type="tns:getBlogPostsWithFilterResponse"/>
<xs:complexType name="getBlogPostsWithFilterResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:BlogPost"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getCommentsWithFilter" type="tns:getCommentsWithFilter"/>
<xs:complexType name="getCommentsWithFilter">
<xs:sequence>
<xs:element minOccurs="0" name="filter" type="tns:FeedbackResultFilter"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getCommentsWithFilterResponse" type="tns:getCommentsWithFilterResponse"/>
<xs:complexType name="getCommentsWithFilterResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Comment"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setCommentsEnabled" type="tns:setCommentsEnabled"/>
<xs:complexType name="setCommentsEnabled">
<xs:sequence>
<xs:element name="commentsEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setCommentsEnabledResponse" type="tns:setCommentsEnabledResponse"/>
<xs:complexType name="setCommentsEnabledResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="getBlogCount" type="tns:getBlogCount"/>
<xs:complexType name="getBlogCount">
<xs:sequence/>
</xs:complexType>
<xs:element name="getBlogCountResponse" type="tns:getBlogCountResponse"/>
<xs:complexType name="getBlogCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="isCommentsEnabled" type="tns:isCommentsEnabled"/>
<xs:complexType name="isCommentsEnabled">
<xs:sequence/>
</xs:complexType>
<xs:element name="isCommentsEnabledResponse" type="tns:isCommentsEnabledResponse"/>
<xs:complexType name="isCommentsEnabledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addAttachmentToBlogPost" type="tns:addAttachmentToBlogPost"/>
<xs:complexType name="addAttachmentToBlogPost">
<xs:sequence>
<xs:element name="blogPostID" type="xs:long"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="contentTypes" type="xs:string"/>
<xs:element minOccurs="0" name="source" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addAttachmentToBlogPostResponse" type="tns:addAttachmentToBlogPostResponse"/>
<xs:complexType name="addAttachmentToBlogPostResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="setPingsEnabled" type="tns:setPingsEnabled"/>
<xs:complexType name="setPingsEnabled">
<xs:sequence>
<xs:element name="pingsEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="setPingsEnabledResponse" type="tns:setPingsEnabledResponse"/>
<xs:complexType name="setPingsEnabledResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="deleteBlogPost" type="tns:deleteBlogPost"/>
<xs:complexType name="deleteBlogPost">
<xs:sequence>
<xs:element name="blogPostID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="deleteBlogPostResponse" type="tns:deleteBlogPostResponse"/>
<xs:complexType name="deleteBlogPostResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="getRecentBlogs" type="tns:getRecentBlogs"/>
<xs:complexType name="getRecentBlogs">
<xs:sequence/>
</xs:complexType>
<xs:element name="getRecentBlogsResponse" type="tns:getRecentBlogsResponse"/>
<xs:complexType name="getRecentBlogsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="createBlog" type="tns:createBlog"/>
<xs:complexType name="createBlog">
<xs:sequence>
<xs:element name="userID" type="xs:long"/>
<xs:element minOccurs="0" name="blogName" type="xs:string"/>
<xs:element minOccurs="0" name="displayName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="createBlogResponse" type="tns:createBlogResponse"/>
<xs:complexType name="createBlogResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Blog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogPost" type="tns:getBlogPost"/>
<xs:complexType name="getBlogPost">
<xs:sequence>
<xs:element name="blogPostID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getBlogPostResponse" type="tns:getBlogPostResponse"/>
<xs:complexType name="getBlogPostResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BlogPost"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addImageToBlogPost" type="tns:addImageToBlogPost"/>
<xs:complexType name="addImageToBlogPost">
<xs:sequence>
<xs:element name="blogPostID" type="xs:long"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="contentTypes" type="xs:string"/>
<xs:element minOccurs="0" name="source" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addImageToBlogPostResponse" type="tns:addImageToBlogPostResponse"/>
<xs:complexType name="addImageToBlogPostResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="deleteBlog" type="tns:deleteBlog"/>
<xs:complexType name="deleteBlog">
<xs:sequence>
<xs:element name="blogID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="deleteBlogResponse" type="tns:deleteBlogResponse"/>
<xs:complexType name="deleteBlogResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://jaxb.dev.java.net/array" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array">
<xs:complexType final="#all" name="stringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="longArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createBlogResponse">
    <wsdl:part element="tns:createBlogResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostResponse">
    <wsdl:part element="tns:getBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBlogPostResponse">
    <wsdl:part element="tns:createBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentBlogsResponse">
    <wsdl:part element="tns:getRecentBlogsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPingsEnabled">
    <wsdl:part element="tns:setPingsEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogCountForUserResponse">
    <wsdl:part element="tns:getBlogCountForUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentCount">
    <wsdl:part element="tns:getCommentCount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BlogNotFoundException">
    <wsdl:part element="tns:BlogNotFoundException" name="BlogNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteBlogResponse">
    <wsdl:part element="tns:deleteBlogResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostCountWithFilter">
    <wsdl:part element="tns:getBlogPostCountWithFilter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isBlogsEnabledResponse">
    <wsdl:part element="tns:isBlogsEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isTrackbacksEnabledResponse">
    <wsdl:part element="tns:isTrackbacksEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setBlogsEnabled">
    <wsdl:part element="tns:setBlogsEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishBlogPostResponse">
    <wsdl:part element="tns:publishBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPingsOverrideEnabled">
    <wsdl:part element="tns:setPingsOverrideEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentBlogs">
    <wsdl:part element="tns:getRecentBlogs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPingServicesResponse">
    <wsdl:part element="tns:setPingServicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogResponse">
    <wsdl:part element="tns:getBlogResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImagesByBlogPostID">
    <wsdl:part element="tns:getImagesByBlogPostID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAttachmentToBlogPostResponse">
    <wsdl:part element="tns:addAttachmentToBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBlogPost">
    <wsdl:part element="tns:updateBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPingsEnabledResponse">
    <wsdl:part element="tns:isPingsEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostCountResponse">
    <wsdl:part element="tns:getBlogPostCountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTagsResponse">
    <wsdl:part element="tns:getTagsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userHasBlogs">
    <wsdl:part element="tns:userHasBlogs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addImageToBlogPost">
    <wsdl:part element="tns:addImageToBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTagsWithFilterResponse">
    <wsdl:part element="tns:getTagsWithFilterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBlogPostResponse">
    <wsdl:part element="tns:updateBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPingsEnabledResponse">
    <wsdl:part element="tns:setPingsEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setBlogsEnabledResponse">
    <wsdl:part element="tns:setBlogsEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostsWithFilterResponse">
    <wsdl:part element="tns:getBlogPostsWithFilterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isTrackbacksEnabled">
    <wsdl:part element="tns:isTrackbacksEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPingsOverrideEnabledResponse">
    <wsdl:part element="tns:setPingsOverrideEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogsByDisplayNameResponse">
    <wsdl:part element="tns:getBlogsByDisplayNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteBlog">
    <wsdl:part element="tns:deleteBlog" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImagesByBlogPostIDResponse">
    <wsdl:part element="tns:getImagesByBlogPostIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishBlogPost">
    <wsdl:part element="tns:publishBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogByName">
    <wsdl:part element="tns:getBlogByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostsWithFilter">
    <wsdl:part element="tns:getBlogPostsWithFilter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogByNameResponse">
    <wsdl:part element="tns:getBlogByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogsForUser">
    <wsdl:part element="tns:getBlogsForUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTagsWithFilter">
    <wsdl:part element="tns:getTagsWithFilter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogCountWithFilterResponse">
    <wsdl:part element="tns:getBlogCountWithFilterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogCountWithFilter">
    <wsdl:part element="tns:getBlogCountWithFilter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogCountResponse">
    <wsdl:part element="tns:getBlogCountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentsWithFilter">
    <wsdl:part element="tns:getCommentsWithFilter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setTrackbacksEnabledResponse">
    <wsdl:part element="tns:setTrackbacksEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BlogPostNotFoundException">
    <wsdl:part element="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPingServices">
    <wsdl:part element="tns:getPingServices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentsWithFilterResponse">
    <wsdl:part element="tns:getCommentsWithFilterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ImageException">
    <wsdl:part element="tns:ImageException" name="ImageException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogCountForUser">
    <wsdl:part element="tns:getBlogCountForUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isBlogsEnabled">
    <wsdl:part element="tns:isBlogsEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RejectedException">
    <wsdl:part element="tns:RejectedException" name="RejectedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteBlogPostResponse">
    <wsdl:part element="tns:deleteBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAttachmentToBlogPost">
    <wsdl:part element="tns:addAttachmentToBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCommentsEnabledResponse">
    <wsdl:part element="tns:isCommentsEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPingsOverrideEnabled">
    <wsdl:part element="tns:isPingsOverrideEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPingsOverrideEnabledResponse">
    <wsdl:part element="tns:isPingsOverrideEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBlog">
    <wsdl:part element="tns:createBlog" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogsByDisplayName">
    <wsdl:part element="tns:getBlogsByDisplayName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addImageToBlogPostResponse">
    <wsdl:part element="tns:addImageToBlogPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPingsEnabled">
    <wsdl:part element="tns:isPingsEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPingServices">
    <wsdl:part element="tns:setPingServices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentCountWithFilter">
    <wsdl:part element="tns:getCommentCountWithFilter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBlogPost">
    <wsdl:part element="tns:createBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setTrackbacksEnabled">
    <wsdl:part element="tns:setTrackbacksEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttachmentsByBlogPostID">
    <wsdl:part element="tns:getAttachmentsByBlogPostID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCommentsEnabled">
    <wsdl:part element="tns:isCommentsEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlog">
    <wsdl:part element="tns:getBlog" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTags">
    <wsdl:part element="tns:getTags" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCommentsEnabledResponse">
    <wsdl:part element="tns:setCommentsEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserNotFoundException">
    <wsdl:part element="tns:UserNotFound" name="UserNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachmentException">
    <wsdl:part element="tns:AttachmentException" name="AttachmentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userHasBlogsResponse">
    <wsdl:part element="tns:userHasBlogsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPost">
    <wsdl:part element="tns:getBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogCount">
    <wsdl:part element="tns:getBlogCount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteBlogPost">
    <wsdl:part element="tns:deleteBlogPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostCount">
    <wsdl:part element="tns:getBlogPostCount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentCountWithFilterResponse">
    <wsdl:part element="tns:getCommentCountWithFilterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogPostCountWithFilterResponse">
    <wsdl:part element="tns:getBlogPostCountWithFilterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlogsForUserResponse">
    <wsdl:part element="tns:getBlogsForUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttachmentsByBlogPostIDResponse">
    <wsdl:part element="tns:getAttachmentsByBlogPostIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentCountResponse">
    <wsdl:part element="tns:getCommentCountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCommentsEnabled">
    <wsdl:part element="tns:setCommentsEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPingServicesResponse">
    <wsdl:part element="tns:getPingServicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BlogService">
    <wsdl:operation name="isPingsEnabled">
      <wsdl:input message="tns:isPingsEnabled" name="isPingsEnabled">
    </wsdl:input>
      <wsdl:output message="tns:isPingsEnabledResponse" name="isPingsEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentCount">
      <wsdl:input message="tns:getCommentCount" name="getCommentCount">
    </wsdl:input>
      <wsdl:output message="tns:getCommentCountResponse" name="getCommentCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTagsWithFilter">
      <wsdl:input message="tns:getTagsWithFilter" name="getTagsWithFilter">
    </wsdl:input>
      <wsdl:output message="tns:getTagsWithFilterResponse" name="getTagsWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBlogsEnabled">
      <wsdl:input message="tns:setBlogsEnabled" name="setBlogsEnabled">
    </wsdl:input>
      <wsdl:output message="tns:setBlogsEnabledResponse" name="setBlogsEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPingsOverrideEnabled">
      <wsdl:input message="tns:isPingsOverrideEnabled" name="isPingsOverrideEnabled">
    </wsdl:input>
      <wsdl:output message="tns:isPingsOverrideEnabledResponse" name="isPingsOverrideEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogsForUser">
      <wsdl:input message="tns:getBlogsForUser" name="getBlogsForUser">
    </wsdl:input>
      <wsdl:output message="tns:getBlogsForUserResponse" name="getBlogsForUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCommentCountWithFilter">
      <wsdl:input message="tns:getCommentCountWithFilter" name="getCommentCountWithFilter">
    </wsdl:input>
      <wsdl:output message="tns:getCommentCountWithFilterResponse" name="getCommentCountWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTrackbacksEnabled">
      <wsdl:input message="tns:setTrackbacksEnabled" name="setTrackbacksEnabled">
    </wsdl:input>
      <wsdl:output message="tns:setTrackbacksEnabledResponse" name="setTrackbacksEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImagesByBlogPostID">
      <wsdl:input message="tns:getImagesByBlogPostID" name="getImagesByBlogPostID">
    </wsdl:input>
      <wsdl:output message="tns:getImagesByBlogPostIDResponse" name="getImagesByBlogPostIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogsByDisplayName">
      <wsdl:input message="tns:getBlogsByDisplayName" name="getBlogsByDisplayName">
    </wsdl:input>
      <wsdl:output message="tns:getBlogsByDisplayNameResponse" name="getBlogsByDisplayNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogPostCountWithFilter">
      <wsdl:input message="tns:getBlogPostCountWithFilter" name="getBlogPostCountWithFilter">
    </wsdl:input>
      <wsdl:output message="tns:getBlogPostCountWithFilterResponse" name="getBlogPostCountWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPingServices">
      <wsdl:input message="tns:getPingServices" name="getPingServices">
    </wsdl:input>
      <wsdl:output message="tns:getPingServicesResponse" name="getPingServicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogByName">
      <wsdl:input message="tns:getBlogByName" name="getBlogByName">
    </wsdl:input>
      <wsdl:output message="tns:getBlogByNameResponse" name="getBlogByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogNotFoundException" name="BlogNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogCountWithFilter">
      <wsdl:input message="tns:getBlogCountWithFilter" name="getBlogCountWithFilter">
    </wsdl:input>
      <wsdl:output message="tns:getBlogCountWithFilterResponse" name="getBlogCountWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userHasBlogs">
      <wsdl:input message="tns:userHasBlogs" name="userHasBlogs">
    </wsdl:input>
      <wsdl:output message="tns:userHasBlogsResponse" name="userHasBlogsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isBlogsEnabled">
      <wsdl:input message="tns:isBlogsEnabled" name="isBlogsEnabled">
    </wsdl:input>
      <wsdl:output message="tns:isBlogsEnabledResponse" name="isBlogsEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPingsOverrideEnabled">
      <wsdl:input message="tns:setPingsOverrideEnabled" name="setPingsOverrideEnabled">
    </wsdl:input>
      <wsdl:output message="tns:setPingsOverrideEnabledResponse" name="setPingsOverrideEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPingServices">
      <wsdl:input message="tns:setPingServices" name="setPingServices">
    </wsdl:input>
      <wsdl:output message="tns:setPingServicesResponse" name="setPingServicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlog">
      <wsdl:input message="tns:getBlog" name="getBlog">
    </wsdl:input>
      <wsdl:output message="tns:getBlogResponse" name="getBlogResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogNotFoundException" name="BlogNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="publishBlogPost">
      <wsdl:input message="tns:publishBlogPost" name="publishBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:publishBlogPostResponse" name="publishBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RejectedException" name="RejectedException">
    </wsdl:fault>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:BlogNotFoundException" name="BlogNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttachmentsByBlogPostID">
      <wsdl:input message="tns:getAttachmentsByBlogPostID" name="getAttachmentsByBlogPostID">
    </wsdl:input>
      <wsdl:output message="tns:getAttachmentsByBlogPostIDResponse" name="getAttachmentsByBlogPostIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTags">
      <wsdl:input message="tns:getTags" name="getTags">
    </wsdl:input>
      <wsdl:output message="tns:getTagsResponse" name="getTagsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogCountForUser">
      <wsdl:input message="tns:getBlogCountForUser" name="getBlogCountForUser">
    </wsdl:input>
      <wsdl:output message="tns:getBlogCountForUserResponse" name="getBlogCountForUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createBlogPost">
      <wsdl:input message="tns:createBlogPost" name="createBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:createBlogPostResponse" name="createBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RejectedException" name="RejectedException">
    </wsdl:fault>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:BlogNotFoundException" name="BlogNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBlogPost">
      <wsdl:input message="tns:updateBlogPost" name="updateBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:updateBlogPostResponse" name="updateBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogPostCount">
      <wsdl:input message="tns:getBlogPostCount" name="getBlogPostCount">
    </wsdl:input>
      <wsdl:output message="tns:getBlogPostCountResponse" name="getBlogPostCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isTrackbacksEnabled">
      <wsdl:input message="tns:isTrackbacksEnabled" name="isTrackbacksEnabled">
    </wsdl:input>
      <wsdl:output message="tns:isTrackbacksEnabledResponse" name="isTrackbacksEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogPostsWithFilter">
      <wsdl:input message="tns:getBlogPostsWithFilter" name="getBlogPostsWithFilter">
    </wsdl:input>
      <wsdl:output message="tns:getBlogPostsWithFilterResponse" name="getBlogPostsWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentsWithFilter">
      <wsdl:input message="tns:getCommentsWithFilter" name="getCommentsWithFilter">
    </wsdl:input>
      <wsdl:output message="tns:getCommentsWithFilterResponse" name="getCommentsWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCommentsEnabled">
      <wsdl:input message="tns:setCommentsEnabled" name="setCommentsEnabled">
    </wsdl:input>
      <wsdl:output message="tns:setCommentsEnabledResponse" name="setCommentsEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogCount">
      <wsdl:input message="tns:getBlogCount" name="getBlogCount">
    </wsdl:input>
      <wsdl:output message="tns:getBlogCountResponse" name="getBlogCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isCommentsEnabled">
      <wsdl:input message="tns:isCommentsEnabled" name="isCommentsEnabled">
    </wsdl:input>
      <wsdl:output message="tns:isCommentsEnabledResponse" name="isCommentsEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAttachmentToBlogPost">
      <wsdl:input message="tns:addAttachmentToBlogPost" name="addAttachmentToBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:addAttachmentToBlogPostResponse" name="addAttachmentToBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AttachmentException" name="AttachmentException">
    </wsdl:fault>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPingsEnabled">
      <wsdl:input message="tns:setPingsEnabled" name="setPingsEnabled">
    </wsdl:input>
      <wsdl:output message="tns:setPingsEnabledResponse" name="setPingsEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBlogPost">
      <wsdl:input message="tns:deleteBlogPost" name="deleteBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:deleteBlogPostResponse" name="deleteBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentBlogs">
      <wsdl:input message="tns:getRecentBlogs" name="getRecentBlogs">
    </wsdl:input>
      <wsdl:output message="tns:getRecentBlogsResponse" name="getRecentBlogsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBlog">
      <wsdl:input message="tns:createBlog" name="createBlog">
    </wsdl:input>
      <wsdl:output message="tns:createBlogResponse" name="createBlogResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogPost">
      <wsdl:input message="tns:getBlogPost" name="getBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:getBlogPostResponse" name="getBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addImageToBlogPost">
      <wsdl:input message="tns:addImageToBlogPost" name="addImageToBlogPost">
    </wsdl:input>
      <wsdl:output message="tns:addImageToBlogPostResponse" name="addImageToBlogPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
      <wsdl:fault message="tns:ImageException" name="ImageException">
    </wsdl:fault>
      <wsdl:fault message="tns:BlogPostNotFoundException" name="BlogPostNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteBlog">
      <wsdl:input message="tns:deleteBlog" name="deleteBlog">
    </wsdl:input>
      <wsdl:output message="tns:deleteBlogResponse" name="deleteBlogResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BlogNotFoundException" name="BlogNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlogServiceSoapBinding" type="tns:BlogService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isPingsEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPingsEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPingsEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCommentCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCommentCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTagsWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTagsWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTagsWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBlogsEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setBlogsEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setBlogsEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPingsOverrideEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPingsOverrideEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPingsOverrideEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogsForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogsForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogsForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCommentCountWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCommentCountWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCommentCountWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTrackbacksEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setTrackbacksEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setTrackbacksEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogPostCountWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogPostCountWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogPostCountWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogsByDisplayName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogsByDisplayName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogsByDisplayNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImagesByBlogPostID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getImagesByBlogPostID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getImagesByBlogPostIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogNotFoundException">
        <soap:fault name="BlogNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPingServices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPingServices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPingServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogCountWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogCountWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogCountWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isBlogsEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isBlogsEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isBlogsEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userHasBlogs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="userHasBlogs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userHasBlogsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPingsOverrideEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setPingsOverrideEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPingsOverrideEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogNotFoundException">
        <soap:fault name="BlogNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPingServices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setPingServices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPingServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publishBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publishBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RejectedException">
        <soap:fault name="RejectedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BlogNotFoundException">
        <soap:fault name="BlogNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttachmentsByBlogPostID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAttachmentsByBlogPostID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAttachmentsByBlogPostIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTags">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTags">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTagsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RejectedException">
        <soap:fault name="RejectedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BlogNotFoundException">
        <soap:fault name="BlogNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogCountForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogCountForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogCountForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogPostCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogPostCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogPostCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isTrackbacksEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isTrackbacksEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isTrackbacksEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogPostsWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogPostsWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogPostsWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentsWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCommentsWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCommentsWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlogCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCommentsEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setCommentsEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setCommentsEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAttachmentToBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAttachmentToBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAttachmentToBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AttachmentException">
        <soap:fault name="AttachmentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCommentsEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isCommentsEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isCommentsEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPingsEnabled">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setPingsEnabled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPingsEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentBlogs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecentBlogs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentBlogsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBlog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createBlog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBlogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addImageToBlogPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addImageToBlogPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addImageToBlogPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ImageException">
        <soap:fault name="ImageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BlogPostNotFoundException">
        <soap:fault name="BlogPostNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteBlog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteBlog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteBlogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BlogNotFoundException">
        <soap:fault name="BlogNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port binding="tns:BlogServiceSoapBinding" name="BlogServicePort">
      <soap:address location="http://j2ee.www.igniterealtime.org-community:8080/community/rpc/soap/BlogService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>