resources/wsdl/CommunityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CommunityService" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jivesoftware.com/clearspace/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array" xmlns="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="stringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns:tns="http://jivesoftware.com/clearspace/webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="Community">
<xs:complexContent>
<xs:extension base="tns:JiveContainer">
<xs:sequence>
<xs:element name="communityCount" type="xs:int" />
<xs:element name="communityDepth" type="xs:int" />
<xs:element minOccurs="0" name="finalLocale" type="tns:Locale" />
<xs:element name="latestMessageID" type="xs:long" />
<xs:element minOccurs="0" name="locale" type="tns:Locale" />
<xs:element name="messageCount" type="xs:int" />
<xs:element name="parentCommunityID" type="xs:long" />
<xs:element name="recursiveCommunityCount" type="xs:int" />
<xs:element name="threadCount" type="xs:int" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="JiveContainer">
<xs:complexContent>
<xs:extension base="tns:JiveObject">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="availableContentTypes" nillable="true" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="displayName" type="xs:string" />
<xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="name" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="JiveObject">
<xs:sequence>
<xs:element name="ID" type="xs:long" />
<xs:element name="objectType" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Locale">
<xs:sequence>
<xs:element minOccurs="0" name="countryCode" type="xs:string" />
<xs:element minOccurs="0" name="languageCode" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Property">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="CommunityNotFound" type="tns:CommunityNotFound" />
<xs:complexType name="CommunityNotFound">
<xs:sequence>
<xs:element name="communityID" nillable="true" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="NameAlreadyExistsException" type="tns:NameAlreadyExistsException" />
<xs:complexType name="NameAlreadyExistsException">
<xs:sequence />
</xs:complexType>
<xs:element name="getSubCommunities" type="tns:getSubCommunities" />
<xs:complexType name="getSubCommunities">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getSubCommunitiesResponse" type="tns:getSubCommunitiesResponse" />
<xs:complexType name="getSubCommunitiesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Community" />
</xs:sequence>
</xs:complexType>
<xs:element name="getCommunity" type="tns:getCommunity" />
<xs:complexType name="getCommunity">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getCommunityResponse" type="tns:getCommunityResponse" />
<xs:complexType name="getCommunityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Community" />
</xs:sequence>
</xs:complexType>
<xs:element name="getProperties" type="tns:getProperties" />
<xs:complexType name="getProperties">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getPropertiesResponse" type="tns:getPropertiesResponse" />
<xs:complexType name="getPropertiesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Property" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteCommunity" type="tns:deleteCommunity" />
<xs:complexType name="deleteCommunity">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteCommunityResponse" type="tns:deleteCommunityResponse" />
<xs:complexType name="deleteCommunityResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="updateCommunity" type="tns:updateCommunity" />
<xs:complexType name="updateCommunity">
<xs:sequence>
<xs:element minOccurs="0" name="community" type="tns:Community" />
</xs:sequence>
</xs:complexType>
<xs:element name="updateCommunityResponse" type="tns:updateCommunityResponse" />
<xs:complexType name="updateCommunityResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="getDocumentIDs" type="tns:getDocumentIDs" />
<xs:complexType name="getDocumentIDs">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getDocumentIDsResponse" type="tns:getDocumentIDsResponse" />
<xs:complexType name="getDocumentIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getRecursiveCommunityCount" type="tns:getRecursiveCommunityCount" />
<xs:complexType name="getRecursiveCommunityCount">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getRecursiveCommunityCountResponse" type="tns:getRecursiveCommunityCountResponse" />
<xs:complexType name="getRecursiveCommunityCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="recursiveCommunitiesByCommunityID" type="tns:recursiveCommunitiesByCommunityID" />
<xs:complexType name="recursiveCommunitiesByCommunityID">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="recursiveCommunitiesByCommunityIDResponse" type="tns:recursiveCommunitiesByCommunityIDResponse" />
<xs:complexType name="recursiveCommunitiesByCommunityIDResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Community" />
</xs:sequence>
</xs:complexType>
<xs:element name="setProperty" type="tns:setProperty" />
<xs:complexType name="setProperty">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="setPropertyResponse" type="tns:setPropertyResponse" />
<xs:complexType name="setPropertyResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="getProperty" type="tns:getProperty" />
<xs:complexType name="getProperty">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getPropertyResponse" type="tns:getPropertyResponse" />
<xs:complexType name="getPropertyResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteProperty" type="tns:deleteProperty" />
<xs:complexType name="deleteProperty">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="deletePropertyResponse" type="tns:deletePropertyResponse" />
<xs:complexType name="deletePropertyResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="createCommunity" type="tns:createCommunity" />
<xs:complexType name="createCommunity">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="displayName" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element name="communityID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="createCommunityResponse" type="tns:createCommunityResponse" />
<xs:complexType name="createCommunityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Community" />
</xs:sequence>
</xs:complexType>
<xs:element name="getRecursiveCommunities" type="tns:getRecursiveCommunities" />
<xs:complexType name="getRecursiveCommunities">
<xs:sequence />
</xs:complexType>
<xs:element name="getRecursiveCommunitiesResponse" type="tns:getRecursiveCommunitiesResponse" />
<xs:complexType name="getRecursiveCommunitiesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Community" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteCommunityResponse">
    <wsdl:part element="tns:deleteCommunityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecursiveCommunityCountResponse">
    <wsdl:part element="tns:getRecursiveCommunityCountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recursiveCommunitiesByCommunityID">
    <wsdl:part element="tns:recursiveCommunitiesByCommunityID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPropertyResponse">
    <wsdl:part element="tns:setPropertyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProperties">
    <wsdl:part element="tns:getProperties" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubCommunities">
    <wsdl:part element="tns:getSubCommunities" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProperty">
    <wsdl:part element="tns:setProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCommunityResponse">
    <wsdl:part element="tns:updateCommunityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CommunityNotFoundException">
    <wsdl:part element="tns:CommunityNotFound" name="CommunityNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertyResponse">
    <wsdl:part element="tns:getPropertyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCommunity">
    <wsdl:part element="tns:deleteCommunity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NameAlreadyExistsException">
    <wsdl:part element="tns:NameAlreadyExistsException" name="NameAlreadyExistsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentIDs">
    <wsdl:part element="tns:getDocumentIDs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecursiveCommunitiesResponse">
    <wsdl:part element="tns:getRecursiveCommunitiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCommunity">
    <wsdl:part element="tns:updateCommunity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubCommunitiesResponse">
    <wsdl:part element="tns:getSubCommunitiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProperty">
    <wsdl:part element="tns:getProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecursiveCommunityCount">
    <wsdl:part element="tns:getRecursiveCommunityCount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommunityResponse">
    <wsdl:part element="tns:getCommunityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePropertyResponse">
    <wsdl:part element="tns:deletePropertyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCommunity">
    <wsdl:part element="tns:createCommunity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProperty">
    <wsdl:part element="tns:deleteProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part element="tns:getPropertiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCommunityResponse">
    <wsdl:part element="tns:createCommunityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommunity">
    <wsdl:part element="tns:getCommunity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecursiveCommunities">
    <wsdl:part element="tns:getRecursiveCommunities" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recursiveCommunitiesByCommunityIDResponse">
    <wsdl:part element="tns:recursiveCommunitiesByCommunityIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentIDsResponse">
    <wsdl:part element="tns:getDocumentIDsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CommunityServicePort">
    <wsdl:operation name="getSubCommunities">
      <wsdl:input message="tns:getSubCommunities" name="getSubCommunities">
    </wsdl:input>
      <wsdl:output message="tns:getSubCommunitiesResponse" name="getSubCommunitiesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCommunity">
      <wsdl:input message="tns:getCommunity" name="getCommunity">
    </wsdl:input>
      <wsdl:output message="tns:getCommunityResponse" name="getCommunityResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <wsdl:input message="tns:getProperties" name="getProperties">
    </wsdl:input>
      <wsdl:output message="tns:getPropertiesResponse" name="getPropertiesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCommunity">
      <wsdl:input message="tns:deleteCommunity" name="deleteCommunity">
    </wsdl:input>
      <wsdl:output message="tns:deleteCommunityResponse" name="deleteCommunityResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCommunity">
      <wsdl:input message="tns:updateCommunity" name="updateCommunity">
    </wsdl:input>
      <wsdl:output message="tns:updateCommunityResponse" name="updateCommunityResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NameAlreadyExistsException" name="NameAlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentIDs">
      <wsdl:input message="tns:getDocumentIDs" name="getDocumentIDs">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentIDsResponse" name="getDocumentIDsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecursiveCommunityCount">
      <wsdl:input message="tns:getRecursiveCommunityCount" name="getRecursiveCommunityCount">
    </wsdl:input>
      <wsdl:output message="tns:getRecursiveCommunityCountResponse" name="getRecursiveCommunityCountResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="recursiveCommunitiesByCommunityID">
      <wsdl:input message="tns:recursiveCommunitiesByCommunityID" name="recursiveCommunitiesByCommunityID">
    </wsdl:input>
      <wsdl:output message="tns:recursiveCommunitiesByCommunityIDResponse" name="recursiveCommunitiesByCommunityIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setProperty">
      <wsdl:input message="tns:setProperty" name="setProperty">
    </wsdl:input>
      <wsdl:output message="tns:setPropertyResponse" name="setPropertyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperty">
      <wsdl:input message="tns:getProperty" name="getProperty">
    </wsdl:input>
      <wsdl:output message="tns:getPropertyResponse" name="getPropertyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProperty">
      <wsdl:input message="tns:deleteProperty" name="deleteProperty">
    </wsdl:input>
      <wsdl:output message="tns:deletePropertyResponse" name="deletePropertyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCommunity">
      <wsdl:input message="tns:createCommunity" name="createCommunity">
    </wsdl:input>
      <wsdl:output message="tns:createCommunityResponse" name="createCommunityResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NameAlreadyExistsException" name="NameAlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecursiveCommunities">
      <wsdl:input message="tns:getRecursiveCommunities" name="getRecursiveCommunities">
    </wsdl:input>
      <wsdl:output message="tns:getRecursiveCommunitiesResponse" name="getRecursiveCommunitiesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommunityServiceSoapBinding" type="tns:CommunityServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSubCommunities">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSubCommunities">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSubCommunitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCommunity">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCommunity">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCommunityResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProperties">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPropertiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCommunity">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteCommunity">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCommunityResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCommunity">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateCommunity">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateCommunityResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NameAlreadyExistsException">
        <soap:fault name="NameAlreadyExistsException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentIDs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDocumentIDs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentIDsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecursiveCommunityCount">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRecursiveCommunityCount">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecursiveCommunityCountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="recursiveCommunitiesByCommunityID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="recursiveCommunitiesByCommunityID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="recursiveCommunitiesByCommunityIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setProperty">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setProperty">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setPropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperty">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProperty">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProperty">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteProperty">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deletePropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCommunity">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createCommunity">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCommunityResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NameAlreadyExistsException">
        <soap:fault name="NameAlreadyExistsException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecursiveCommunities">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRecursiveCommunities">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecursiveCommunitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunityService">
    <wsdl:port binding="tns:CommunityServiceSoapBinding" name="CommunityServicePortPort">
      <soap:address location="http://j2ee.www.igniterealtime.org-community:8080/community/rpc/soap/CommunityService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>