resources/wsdl/ProfileService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ProfileService" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jivesoftware.com/clearspace/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array" xmlns="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="stringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns="http://jivesoftware.com/clearspace/webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="UserProfile">
<xs:sequence>
<xs:element name="fieldID" type="xs:long" />
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserStatus">
<xs:complexContent>
<xs:extension base="JiveObject">
<xs:sequence>
<xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="statusText" type="xs:string" />
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="JiveObject">
<xs:sequence>
<xs:element name="ID" type="xs:long" />
<xs:element name="objectType" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="UserNotFound" type="UserNotFound" />
<xs:complexType name="UserNotFound">
<xs:sequence>
<xs:element name="username" nillable="true" type="xs:string" />
<xs:element name="userID" nillable="true" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="AttachmentException" type="AttachmentException" />
<xs:complexType name="AttachmentException">
<xs:sequence />
</xs:complexType>
<xs:element name="Unauthorized" type="Unauthorized" />
<xs:complexType name="Unauthorized">
<xs:sequence />
</xs:complexType>
<xs:element name="NotFound" type="NotFound" />
<xs:complexType name="NotFound">
<xs:sequence />
</xs:complexType>
<xs:element name="setProfile" type="setProfile" />
<xs:complexType name="setProfile">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="profiles" type="UserProfile" />
</xs:sequence>
</xs:complexType>
<xs:element name="setProfileResponse" type="setProfileResponse" />
<xs:complexType name="setProfileResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="getProfileImage" type="getProfileImage" />
<xs:complexType name="getProfileImage">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getProfileImageResponse" type="getProfileImageResponse" />
<xs:complexType name="getProfileImageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:element name="getYesterdaysStatusUpdates" type="getYesterdaysStatusUpdates" />
<xs:complexType name="getYesterdaysStatusUpdates">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getYesterdaysStatusUpdatesResponse" type="getYesterdaysStatusUpdatesResponse" />
<xs:complexType name="getYesterdaysStatusUpdatesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="setProfileImage" type="setProfileImage" />
<xs:complexType name="setProfileImage">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
<xs:element minOccurs="0" name="mimeType" type="xs:string" />
<xs:element minOccurs="0" name="data" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:element name="setProfileImageResponse" type="setProfileImageResponse" />
<xs:complexType name="setProfileImageResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="setCurrentStatus" type="setCurrentStatus" />
<xs:complexType name="setCurrentStatus">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
<xs:element minOccurs="0" name="statusMessage" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="setCurrentStatusResponse" type="setCurrentStatusResponse" />
<xs:complexType name="setCurrentStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="getStatusMessageMaxLength" type="getStatusMessageMaxLength" />
<xs:complexType name="getStatusMessageMaxLength">
<xs:sequence />
</xs:complexType>
<xs:element name="getStatusMessageMaxLengthResponse" type="getStatusMessageMaxLengthResponse" />
<xs:complexType name="getStatusMessageMaxLengthResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteUserStatus" type="deleteUserStatus" />
<xs:complexType name="deleteUserStatus">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteUserStatusResponse" type="deleteUserStatusResponse" />
<xs:complexType name="deleteUserStatusResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="deleteProfileByID" type="deleteProfileByID" />
<xs:complexType name="deleteProfileByID">
<xs:sequence>
<xs:element name="fieldID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteProfileByIDResponse" type="deleteProfileByIDResponse" />
<xs:complexType name="deleteProfileByIDResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="getProfile" type="getProfile" />
<xs:complexType name="getProfile">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getProfileResponse" type="getProfileResponse" />
<xs:complexType name="getProfileResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="UserProfile" />
</xs:sequence>
</xs:complexType>
<xs:element name="isStatusUpdatesEnabled" type="isStatusUpdatesEnabled" />
<xs:complexType name="isStatusUpdatesEnabled">
<xs:sequence />
</xs:complexType>
<xs:element name="isStatusUpdatesEnabledResponse" type="isStatusUpdatesEnabledResponse" />
<xs:complexType name="isStatusUpdatesEnabledResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:element name="getRecentStatusUpdatesForUser" type="getRecentStatusUpdatesForUser" />
<xs:complexType name="getRecentStatusUpdatesForUser">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getRecentStatusUpdatesForUserResponse" type="getRecentStatusUpdatesForUserResponse" />
<xs:complexType name="getRecentStatusUpdatesForUserResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="getUserStatus" type="getUserStatus" />
<xs:complexType name="getUserStatus">
<xs:sequence>
<xs:element name="statusID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getUserStatusResponse" type="getUserStatusResponse" />
<xs:complexType name="getUserStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="getCurrentStatus" type="getCurrentStatus" />
<xs:complexType name="getCurrentStatus">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getCurrentStatusResponse" type="getCurrentStatusResponse" />
<xs:complexType name="getCurrentStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteProfileByUserID" type="deleteProfileByUserID" />
<xs:complexType name="deleteProfileByUserID">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="deleteProfileByUserIDResponse" type="deleteProfileByUserIDResponse" />
<xs:complexType name="deleteProfileByUserIDResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="getRecentStatusUpdates" type="getRecentStatusUpdates" />
<xs:complexType name="getRecentStatusUpdates">
<xs:sequence />
</xs:complexType>
<xs:element name="getRecentStatusUpdatesResponse" type="getRecentStatusUpdatesResponse" />
<xs:complexType name="getRecentStatusUpdatesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="getTodaysStatusUpdates" type="getTodaysStatusUpdates" />
<xs:complexType name="getTodaysStatusUpdates">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="getTodaysStatusUpdatesResponse" type="getTodaysStatusUpdatesResponse" />
<xs:complexType name="getTodaysStatusUpdatesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="UserStatus" />
</xs:sequence>
</xs:complexType>
<xs:element name="addProfile" type="addProfile" />
<xs:complexType name="addProfile">
<xs:sequence>
<xs:element name="userID" type="xs:long" />
<xs:element minOccurs="0" name="profile" type="UserProfile" />
</xs:sequence>
</xs:complexType>
<xs:element name="addProfileResponse" type="addProfileResponse" />
<xs:complexType name="addProfileResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCurrentStatusResponse">
    <wsdl:part element="tns:getCurrentStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCurrentStatus">
    <wsdl:part element="tns:setCurrentStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserStatusResponse">
    <wsdl:part element="tns:getUserStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProfile">
    <wsdl:part element="tns:addProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserStatusResponse">
    <wsdl:part element="tns:deleteUserStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProfileImageResponse">
    <wsdl:part element="tns:setProfileImageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getYesterdaysStatusUpdatesResponse">
    <wsdl:part element="tns:getYesterdaysStatusUpdatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfileImageResponse">
    <wsdl:part element="tns:getProfileImageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isStatusUpdatesEnabled">
    <wsdl:part element="tns:isStatusUpdatesEnabled" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentStatusUpdates">
    <wsdl:part element="tns:getRecentStatusUpdates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentStatusUpdatesResponse">
    <wsdl:part element="tns:getRecentStatusUpdatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProfileByUserID">
    <wsdl:part element="tns:deleteProfileByUserID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTodaysStatusUpdates">
    <wsdl:part element="tns:getTodaysStatusUpdates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProfileResponse">
    <wsdl:part element="tns:setProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentStatus">
    <wsdl:part element="tns:getCurrentStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfile">
    <wsdl:part element="tns:getProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProfileImage">
    <wsdl:part element="tns:setProfileImage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfileResponse">
    <wsdl:part element="tns:getProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getYesterdaysStatusUpdates">
    <wsdl:part element="tns:getYesterdaysStatusUpdates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentStatusUpdatesForUser">
    <wsdl:part element="tns:getRecentStatusUpdatesForUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusMessageMaxLengthResponse">
    <wsdl:part element="tns:getStatusMessageMaxLengthResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserStatus">
    <wsdl:part element="tns:deleteUserStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProfileByID">
    <wsdl:part element="tns:deleteProfileByID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProfile">
    <wsdl:part element="tns:setProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnauthorizedException">
    <wsdl:part element="tns:Unauthorized" name="UnauthorizedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserNotFoundException">
    <wsdl:part element="tns:UserNotFound" name="UserNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachmentException">
    <wsdl:part element="tns:AttachmentException" name="AttachmentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserStatus">
    <wsdl:part element="tns:getUserStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTodaysStatusUpdatesResponse">
    <wsdl:part element="tns:getTodaysStatusUpdatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProfileByUserIDResponse">
    <wsdl:part element="tns:deleteProfileByUserIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfileImage">
    <wsdl:part element="tns:getProfileImage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotFoundException">
    <wsdl:part element="tns:NotFound" name="NotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProfileResponse">
    <wsdl:part element="tns:addProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProfileByIDResponse">
    <wsdl:part element="tns:deleteProfileByIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusMessageMaxLength">
    <wsdl:part element="tns:getStatusMessageMaxLength" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isStatusUpdatesEnabledResponse">
    <wsdl:part element="tns:isStatusUpdatesEnabledResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentStatusUpdatesForUserResponse">
    <wsdl:part element="tns:getRecentStatusUpdatesForUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCurrentStatusResponse">
    <wsdl:part element="tns:setCurrentStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProfileService">
    <wsdl:operation name="setProfile">
      <wsdl:input message="tns:setProfile" name="setProfile">
    </wsdl:input>
      <wsdl:output message="tns:setProfileResponse" name="setProfileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileImage">
      <wsdl:input message="tns:getProfileImage" name="getProfileImage">
    </wsdl:input>
      <wsdl:output message="tns:getProfileImageResponse" name="getProfileImageResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getYesterdaysStatusUpdates">
      <wsdl:input message="tns:getYesterdaysStatusUpdates" name="getYesterdaysStatusUpdates">
    </wsdl:input>
      <wsdl:output message="tns:getYesterdaysStatusUpdatesResponse" name="getYesterdaysStatusUpdatesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setProfileImage">
      <wsdl:input message="tns:setProfileImage" name="setProfileImage">
    </wsdl:input>
      <wsdl:output message="tns:setProfileImageResponse" name="setProfileImageResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AttachmentException" name="AttachmentException">
    </wsdl:fault>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setCurrentStatus">
      <wsdl:input message="tns:setCurrentStatus" name="setCurrentStatus">
    </wsdl:input>
      <wsdl:output message="tns:setCurrentStatusResponse" name="setCurrentStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnauthorizedException" name="UnauthorizedException">
    </wsdl:fault>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusMessageMaxLength">
      <wsdl:input message="tns:getStatusMessageMaxLength" name="getStatusMessageMaxLength">
    </wsdl:input>
      <wsdl:output message="tns:getStatusMessageMaxLengthResponse" name="getStatusMessageMaxLengthResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserStatus">
      <wsdl:input message="tns:deleteUserStatus" name="deleteUserStatus">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserStatusResponse" name="deleteUserStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnauthorizedException" name="UnauthorizedException">
    </wsdl:fault>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileByID">
      <wsdl:input message="tns:deleteProfileByID" name="deleteProfileByID">
    </wsdl:input>
      <wsdl:output message="tns:deleteProfileByIDResponse" name="deleteProfileByIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <wsdl:input message="tns:getProfile" name="getProfile">
    </wsdl:input>
      <wsdl:output message="tns:getProfileResponse" name="getProfileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isStatusUpdatesEnabled">
      <wsdl:input message="tns:isStatusUpdatesEnabled" name="isStatusUpdatesEnabled">
    </wsdl:input>
      <wsdl:output message="tns:isStatusUpdatesEnabledResponse" name="isStatusUpdatesEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentStatusUpdatesForUser">
      <wsdl:input message="tns:getRecentStatusUpdatesForUser" name="getRecentStatusUpdatesForUser">
    </wsdl:input>
      <wsdl:output message="tns:getRecentStatusUpdatesForUserResponse" name="getRecentStatusUpdatesForUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
      <wsdl:input message="tns:getUserStatus" name="getUserStatus">
    </wsdl:input>
      <wsdl:output message="tns:getUserStatusResponse" name="getUserStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NotFoundException" name="NotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCurrentStatus">
      <wsdl:input message="tns:getCurrentStatus" name="getCurrentStatus">
    </wsdl:input>
      <wsdl:output message="tns:getCurrentStatusResponse" name="getCurrentStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileByUserID">
      <wsdl:input message="tns:deleteProfileByUserID" name="deleteProfileByUserID">
    </wsdl:input>
      <wsdl:output message="tns:deleteProfileByUserIDResponse" name="deleteProfileByUserIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentStatusUpdates">
      <wsdl:input message="tns:getRecentStatusUpdates" name="getRecentStatusUpdates">
    </wsdl:input>
      <wsdl:output message="tns:getRecentStatusUpdatesResponse" name="getRecentStatusUpdatesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTodaysStatusUpdates">
      <wsdl:input message="tns:getTodaysStatusUpdates" name="getTodaysStatusUpdates">
    </wsdl:input>
      <wsdl:output message="tns:getTodaysStatusUpdatesResponse" name="getTodaysStatusUpdatesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addProfile">
      <wsdl:input message="tns:addProfile" name="addProfile">
    </wsdl:input>
      <wsdl:output message="tns:addProfileResponse" name="addProfileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileServiceSoapBinding" type="tns:ProfileService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setProfile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setProfile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileImage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProfileImage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProfileImageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getYesterdaysStatusUpdates">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getYesterdaysStatusUpdates">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getYesterdaysStatusUpdatesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setCurrentStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setCurrentStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setCurrentStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedException">
        <soap:fault name="UnauthorizedException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setProfileImage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setProfileImage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setProfileImageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AttachmentException">
        <soap:fault name="AttachmentException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusMessageMaxLength">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStatusMessageMaxLength">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStatusMessageMaxLengthResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteUserStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUserStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedException">
        <soap:fault name="UnauthorizedException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileByID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteProfileByID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteProfileByIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProfile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isStatusUpdatesEnabled">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isStatusUpdatesEnabled">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isStatusUpdatesEnabledResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentStatusUpdatesForUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRecentStatusUpdatesForUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecentStatusUpdatesForUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCurrentStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCurrentStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCurrentStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileByUserID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteProfileByUserID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteProfileByUserIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentStatusUpdates">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRecentStatusUpdates">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecentStatusUpdatesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProfile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addProfile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTodaysStatusUpdates">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTodaysStatusUpdates">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTodaysStatusUpdatesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port binding="tns:ProfileServiceSoapBinding" name="ProfileServicePort">
      <soap:address location="http://j2ee.www.igniterealtime.org-community:8080/community/rpc/soap/ProfileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>