resources/wsdl/SerchService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SearchService" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jivesoftware.com/clearspace/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jivesoftware.com/clearspace/webservices" xmlns="http://jivesoftware.com/clearspace/webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="Query">
<xs:sequence>
<xs:element minOccurs="0" name="afterDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="beforeDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="queryString" type="xs:string" />
<xs:element name="sortField" type="xs:int" />
<xs:element name="sortOrder" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="JiveObject">
<xs:sequence>
<xs:element name="ID" type="xs:long" />
<xs:element name="objectType" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="CommunityNotFound" type="CommunityNotFound" />
<xs:complexType name="CommunityNotFound">
<xs:sequence>
<xs:element name="communityID" nillable="true" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:element name="search" type="search" />
<xs:complexType name="search">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="Query" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" type="xs:int" />
<xs:element name="startIndex" type="xs:int" />
<xs:element name="numResults" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="searchResponse" type="searchResponse" />
<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="JiveObject" />
</xs:sequence>
</xs:complexType>
<xs:element name="countSearchResults" type="countSearchResults" />
<xs:complexType name="countSearchResults">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="Query" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="countSearchResultsResponse" type="countSearchResultsResponse" />
<xs:complexType name="countSearchResultsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="searchByCommunities" type="searchByCommunities" />
<xs:complexType name="searchByCommunities">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
<xs:element minOccurs="0" name="query" type="Query" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" type="xs:int" />
<xs:element name="startIndex" type="xs:int" />
<xs:element name="numResults" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="searchByCommunitiesResponse" type="searchByCommunitiesResponse" />
<xs:complexType name="searchByCommunitiesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="JiveObject" />
</xs:sequence>
</xs:complexType>
<xs:element name="countQuickSearchResults" type="countQuickSearchResults" />
<xs:complexType name="countQuickSearchResults">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="countQuickSearchResultsResponse" type="countQuickSearchResultsResponse" />
<xs:complexType name="countQuickSearchResultsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="quickSearch" type="quickSearch" />
<xs:complexType name="quickSearch">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" type="xs:int" />
<xs:element name="startIndex" type="xs:int" />
<xs:element name="numResults" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="quickSearchResponse" type="quickSearchResponse" />
<xs:complexType name="quickSearchResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="JiveObject" />
</xs:sequence>
</xs:complexType>
<xs:element name="quickMessageSearchByCommunityID" type="quickMessageSearchByCommunityID" />
<xs:complexType name="quickMessageSearchByCommunityID">
<xs:sequence>
<xs:element name="arg0" type="xs:long" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:int" />
<xs:element name="arg3" type="xs:int" />
<xs:element name="arg4" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="quickMessageSearchByCommunityIDResponse" type="quickMessageSearchByCommunityIDResponse" />
<xs:complexType name="quickMessageSearchByCommunityIDResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="JiveObject" />
</xs:sequence>
</xs:complexType>
<xs:element name="countSearchResultsByCommunityID" type="countSearchResultsByCommunityID" />
<xs:complexType name="countSearchResultsByCommunityID">
<xs:sequence>
<xs:element name="communityID" type="xs:long" />
<xs:element minOccurs="0" name="query" type="Query" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypes" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="countSearchResultsByCommunityIDResponse" type="countSearchResultsByCommunityIDResponse" />
<xs:complexType name="countSearchResultsByCommunityIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="countQuickMessageSearchResultsByCommunityID" type="countQuickMessageSearchResultsByCommunityID" />
<xs:complexType name="countQuickMessageSearchResultsByCommunityID">
<xs:sequence>
<xs:element name="arg0" type="xs:long" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="countQuickMessageSearchResultsByCommunityIDResponse" type="countQuickMessageSearchResultsByCommunityIDResponse" />
<xs:complexType name="countQuickMessageSearchResultsByCommunityIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="countSearchResultsResponse">
    <wsdl:part element="tns:countSearchResultsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countSearchResultsByCommunityIDResponse">
    <wsdl:part element="tns:countSearchResultsByCommunityIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="quickMessageSearchByCommunityIDResponse">
    <wsdl:part element="tns:quickMessageSearchByCommunityIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CommunityNotFoundException">
    <wsdl:part element="tns:CommunityNotFound" name="CommunityNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countQuickSearchResults">
    <wsdl:part element="tns:countQuickSearchResults" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByCommunitiesResponse">
    <wsdl:part element="tns:searchByCommunitiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countQuickMessageSearchResultsByCommunityID">
    <wsdl:part element="tns:countQuickMessageSearchResultsByCommunityID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countSearchResultsByCommunityID">
    <wsdl:part element="tns:countSearchResultsByCommunityID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByCommunities">
    <wsdl:part element="tns:searchByCommunities" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="quickSearch">
    <wsdl:part element="tns:quickSearch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countSearchResults">
    <wsdl:part element="tns:countSearchResults" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countQuickSearchResultsResponse">
    <wsdl:part element="tns:countQuickSearchResultsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countQuickMessageSearchResultsByCommunityIDResponse">
    <wsdl:part element="tns:countQuickMessageSearchResultsByCommunityIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="quickMessageSearchByCommunityID">
    <wsdl:part element="tns:quickMessageSearchByCommunityID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="quickSearchResponse">
    <wsdl:part element="tns:quickSearchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SearchService">
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countSearchResults">
      <wsdl:input message="tns:countSearchResults" name="countSearchResults">
    </wsdl:input>
      <wsdl:output message="tns:countSearchResultsResponse" name="countSearchResultsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByCommunities">
      <wsdl:input message="tns:searchByCommunities" name="searchByCommunities">
    </wsdl:input>
      <wsdl:output message="tns:searchByCommunitiesResponse" name="searchByCommunitiesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countQuickSearchResults">
      <wsdl:input message="tns:countQuickSearchResults" name="countQuickSearchResults">
    </wsdl:input>
      <wsdl:output message="tns:countQuickSearchResultsResponse" name="countQuickSearchResultsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickSearch">
      <wsdl:input message="tns:quickSearch" name="quickSearch">
    </wsdl:input>
      <wsdl:output message="tns:quickSearchResponse" name="quickSearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickMessageSearchByCommunityID">
      <wsdl:input message="tns:quickMessageSearchByCommunityID" name="quickMessageSearchByCommunityID">
    </wsdl:input>
      <wsdl:output message="tns:quickMessageSearchByCommunityIDResponse" name="quickMessageSearchByCommunityIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countSearchResultsByCommunityID">
      <wsdl:input message="tns:countSearchResultsByCommunityID" name="countSearchResultsByCommunityID">
    </wsdl:input>
      <wsdl:output message="tns:countSearchResultsByCommunityIDResponse" name="countSearchResultsByCommunityIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countQuickMessageSearchResultsByCommunityID">
      <wsdl:input message="tns:countQuickMessageSearchResultsByCommunityID" name="countQuickMessageSearchResultsByCommunityID">
    </wsdl:input>
      <wsdl:output message="tns:countQuickMessageSearchResultsByCommunityIDResponse" name="countQuickMessageSearchResultsByCommunityIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CommunityNotFoundException" name="CommunityNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchServiceSoapBinding" type="tns:SearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="countSearchResults">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="countSearchResults">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="countSearchResultsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="search">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByCommunities">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchByCommunities">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchByCommunitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countQuickSearchResults">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="countQuickSearchResults">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="countQuickSearchResultsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickSearch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="quickSearch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="quickSearchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickMessageSearchByCommunityID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="quickMessageSearchByCommunityID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="quickMessageSearchByCommunityIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countSearchResultsByCommunityID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="countSearchResultsByCommunityID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="countSearchResultsByCommunityIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countQuickMessageSearchResultsByCommunityID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="countQuickMessageSearchResultsByCommunityID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="countQuickMessageSearchResultsByCommunityIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommunityNotFoundException">
        <soap:fault name="CommunityNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port binding="tns:SearchServiceSoapBinding" name="SearchServicePort">
      <soap:address location="http://j2ee.www.igniterealtime.org-community:8080/community/rpc/soap/SearchService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>